<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.processphoenix">

    <application>
        <activity
            android:name=".ProcessPhoenix"
            android:process=":phoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
